<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTP" value="	smtp.mailtrap.io"/>
    <add key="SMTPUser" value="asdf"/>
    <add value="SMTPPassword" key="11431fb8cbf43b"/>
    <add value="SMPTPort" key="2525"/>
    <add value="UseEmailSettings" key="true"/>
  </appSettings>
</configuration>