<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="UserEntities" connectionString="metadata=res://*/Data.UserModel.csdl|res://*/Data.UserModel.ssdl|res://*/Data.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DataSolution;persist security info=True;user id=sa;password=Anf1eld78;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TransactionEntities" connectionString="metadata=res://*/Data.TransactionModel.csdl|res://*/Data.TransactionModel.ssdl|res://*/Data.TransactionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DataSolution;persist security info=True;user id=sa;password=Anf1eld78;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LookupEntities" connectionString="metadata=res://*/Data.LookupModel.csdl|res://*/Data.LookupModel.ssdl|res://*/Data.LookupModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DataSolution;persist security info=True;user id=sa;password=Anf1eld78;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>