
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h1 class="card-title">Our Services</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/Assets/images/Services.png" />
                        <br />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel finibus odio. Cras ac magna elit. Cras ut pulvinar lorem, eget tempus neque. Pellentesque rhoncus blandit purus, a congue neque aliquet ac. Nunc facilisis commodo nulla ac tempor. Maecenas non ornare augue, iaculis suscipit magna. Proin metus purus, fermentum vel ex sed, porta eleifend nibh. Curabitur ut lacus venenatis nisi fringilla aliquam quis ut quam. Ut sed dignissim dolor, id tempus felis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel finibus odio. Cras ac magna elit. Cras ut pulvinar lorem, eget tempus neque. Pellentesque rhoncus blandit purus, a congue neque aliquet ac. Nunc facilisis commodo nulla ac tempor. Maecenas non ornare augue, iaculis suscipit magna. Proin metus purus, fermentum vel ex sed, porta eleifend nibh. Curabitur ut lacus venenatis nisi fringilla aliquam quis ut quam. Ut sed dignissim dolor, id tempus felis.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel finibus odio. Cras ac magna elit. Cras ut pulvinar lorem, eget tempus neque. Pellentesque rhoncus blandit purus, a congue neque aliquet ac. Nunc facilisis commodo nulla ac tempor. Maecenas non ornare augue, iaculis suscipit magna. Proin metus purus, fermentum vel ex sed, porta eleifend nibh. Curabitur ut lacus venenatis nisi fringilla aliquam quis ut quam. Ut sed dignissim dolor, id tempus felis.
            </div>
        </div>
    </div>
</div>