<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <div >
            <div>
                <div>First Name:</div>
                <div>!!!FirstName!!!</div>
            </div>
            <div>
                <div>Surname:</div>
                <div>!!!Surname!!!</div>
            </div>
            <div>
                <div>Email:</div>
                <div>!!!Email!!!</div>
            </div>
            <div>
                <div>Contact No:</div>
                <div>!!!ContactNo!!!</div>
            </div>
            <div>
                <div>Message:</div>
                <div>!!!Message!!!</div>
            </div>
        </div>
    </div>
</body>
</html>