
@{
   
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Change Password</h2>
<form ng-app="DataSolutionApp" ng-controller="ChangePasswordController" ng-init="pageLoad();">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                            <label class="col-sm-4 text-right control-label col-form-label" for="psswrd">New Password:</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info text-white" id="basic-addon1" ng-click="showNewPassword()" title="{{newPasswordTitle}}">
                                    <i ng-class="{true: 'fa fa-fw fa-eye field-icon', false: 'fa fa-fw fa-eye-slash field-icon'}[toggleNewPassword === true]"></i>
                                </span>
                                <input type="{{newPasswordType}}" id="psswrd" class="form-control form-control-lg" placeholder="New Password" aria-label="New Password" aria-describedby="basic-addon1" required ng-model="newpassord" ng-keyup="comparePasswords();" ng-blur="checkPassword(newpassord);">
                            </div>
                            <div class="mb-2" ng-show="togglePassowrdInfo">
                                <div class="alert alert-info" role="dialog">Password must be between 6 and 20 characters with at least one letter and number and contain at least one special characters.</div>
                            </div>
                        <label class="col-sm-4 text-right control-label col-form-label" for="confirmpsswrd">Confirm Password:</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white" id="basic-addon1" ng-click="showConfirmPassword()" title="{{confirmPasswordTitle}}">
                                <i ng-class="{true: 'fa fa-fw fa-eye field-icon', false: 'fa fa-fw fa-eye-slash field-icon'}[toggleConfirmPassword === true]"></i>
                            </span>
                            <input type="{{confirmPasswordType}}" id="confirmpsswrd" class="form-control form-control-lg" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon1" required ng-model="confirmpassword" ng-keyup="comparePasswords();">
                        </div>
                        <div class="mb-2" ng-hide="isPasswordMatched">
                            <div class="alert alert-danger" role="alert">{{ passwordMessage }}</div>
                        </div>
                    </div>
                    <div class="row border-top">
                        <div class="col-sm-9">
                            <div class="p-t-10">
                                <button ng-class="{true: 'btn btn-lg btn-success', false: 'btn  btn-lg btn-info'}[isProcessing === true]" type="button" ng-click="savePassword();" ng-disabled="isProcessing">
                                    <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>&nbsp;{{buttonText}}
                                </button>
                                <div role="alert" id="recoverMessage" ng-class="{true: 'alert alert-success', false: 'alert alert-danger'}[responseResult === true]" ng-show="toggleMessage">{{ responseMessage }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Areas/Users/Scripts/ChangePasswordController.js"></script>