
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Reset Password</h2>
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark" ng-app="DataSolutionApp" ng-controller="ResetPasswordController">
    <div class="auth-box bg-dark border-top border-secondary">
        <div id="loginform">
            <div class="text-center p-t-20 p-b-20">
                <span class="db"><img src="~/Assets/images/iDoIT.png" /></span>
            </div>
            <!-- Form -->
            <form class="form-horizontal m-t-20" id="loginform">
                <div class="row p-b-30">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info text-white" id="basic-addon1" title="{{ oldPasswordTitle }}" ng-click="showOldPassword()">
                                    <i ng-class="{true: 'fa fa-fw fa-eye field-icon', false: 'fa fa-fw fa-eye-slash field-icon'}[toggleOldPassword === true]"></i>
                                </span>

                            </div>
                            <input type="{{ oldPasswordType }}" id="oldpasword" class="form-control form-control-lg" placeholder="Old Password" aria-label="Old Password" aria-describedby="basic-addon1" required ng-model="oldpassword" ng-blur="checkTempPassword()">
                        </div>
                        <div class="=mb-1" ng-hide="toggleTempPassword">
                            <div class="alert alert-danger" role="alert">The password entered is incorrect. Please re-enter the password.</div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span ng-class="{true: 'input-group-text bg-danger text-white', false: 'input-group-text bg-primary text-white'}[isPasswordMatched === false]" id="basic-addon2" title="{{ newPasswordTitle }}" ng-click="showNewPassword()">
                                    <i ng-class="{true: 'fa fa-fw fa-eye field-icon', false: 'fa fa-fw fa-eye-slash field-icon'}[toggleNewPassword === true]"></i>
                                </span>
                            </div>
                            <input type="{{ newPasswordType }}" id="password"  ng-class="{true: 'form-control form-control-lg  is-invalid', false: 'form-control form-control-lg'}[isPasswordMatched === false]" placeholder="Password" aria-label="New Password" aria-describedby="basic-addon1" required ng-model="newpassword" ng-blur="showPasswordInfo();checkPassword(newpassword);" ng-keyup="comparePasswords()" ng-focus="showPasswordInfo();">
                        </div>
                        <div class="mb-1" ng-show="togglePassowrdInfo">
                            <div class="alert alert-info" role="dialog">Password must be between 6 and 20 characters with at least one letter and number and contain at least one special characters.</div>
                        </div>
                        <div class="mb-1" ng-hide="isPasswordMatched">
                            <div class="alert alert-danger" role="alert">{{ passwordMessage }}</div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white" id="basic-addon2" title="{{ confirmPasswordTitle }}" ng-click="showConfirmPassword()">
                                    <i ng-class="{true: 'fa fa-fw fa-eye field-icon', false: 'fa fa-fw fa-eye-slash field-icon'}[toggleConfirmPassword === true]"></i>
                                </span>
                            </div>
                            <input type="{{ confirmPasswordType }}" id="confirmpassword" class="form-control form-control-lg" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon1" required ng-model="confirmnewpassword" ng-keyup="comparePasswords()">
                        </div>
                    </div>
                </div>
                <div class="row border-top border-secondary">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20">
                                <button class="btn btn-primary" id="recover" type="button"><i class="fa fa-lock m-r-5"></i> Lost password?</button>
                                <button ng-class="{true:'btn btn-success float-right' , false:  'btn btn-info float-right'}[showProcessing === true]" type="submit" ng-disabled="toggleLoginButton" ng-click="ResetPassword()">
                                    <i class="fa fa-spinner fa-spin" ng-show="showProcessing"></i>&nbsp;{{ buttonMessage }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="md-1">
                        <div role="alert" ng-class="{true: 'alert alert-success', false: 'alert alert-danger'}[responseLogin === true]" ng-show="showOutcome">
                            <i class="fa fa-spinner fa-spin" ng-show="showOutcome"></i>&nbsp;{{ responseMessage }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/Areas/Users/Scripts/ResetPasswordController.js"></script>
